<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnyimMemcached" version="2.12" targetFramework="net45" />
  <package id="Mono.Data.Sqlite.Portable" version="1.0.3.5" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.6" targetFramework="net45" />
  <package id="Nancy" version="1.1" targetFramework="net45" />
  <package id="Nancy.Authentication.Forms" version="1.1" targetFramework="net45" />
  <package id="Nancy.Bootstrappers.StructureMap" version="1.1" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="1.1" targetFramework="net45" />
  <package id="Nancy.Sessions" version="1.0.1" targetFramework="net45" />
  <package id="Nancy.Sessions.Memcache" version="0.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="structuremap" version="3.1.4.143" targetFramework="net45" />
</packages>